.inputbox{
    display: flex;
    justify-content: center;
}

.input{
    margin: 1rem 0rem;
    width: 75%;
    height: 2.5rem;
    border-radius: 1rem;
    font-weight:"bolder";
    font-size:"1.2rem";
    padding: 0rem 1rem;
}

